<h2>Languages Vote App</h2>


<app-language name="go"></app-language>
<app-language name="java"></app-language>
<app-language name="nodejs"></app-language>


<!-- <div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Language Vote App v1</h1>
    &copy; CloudAcademy ❤ DevOps 2019
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <Language name="go" logo="go.png"></Language>
    </div>
    <div class="col-md-4">
      <Language name="java" logo="java.png"></Language>
    </div>
    <div class="col-md-4">
      <Language name="nodejs" logo="nodejs.png"></Language>
    </div>
  </div>
</div> -->
