<noscript>You need to enable JavaScript to run this app.</noscript>

<!--
  Bootstrap core JavaScript
  ==================================================
-->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="./assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./assets/js/popper.min.js"></script>
<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>


<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Language Vote App v1</h1>
    &copy; CloudAcademy ❤ DevOps 2019
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let language of languages">
        <app-language name="{{language.name}}"></app-language>
    </div>
  </div>
</div>
