<div class="container">
  <h2>{{ language.name }}</h2>

  <app-vote language="{{ language.name }}"></app-vote>
  <br />
  <p><b>Uses</b>: {{ language.codedetail.usecase }}</p>
  <p><b>Rank</b>: {{ language.codedetail.rank }}</p>
  <p><b>Homepage</b>: {{ language.codedetail.homepage }}</p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="parent">
          <img
            src="assets/img/{{ language.name }}.png"
            alt="logo"
            class="center-block"
          />
        </div>
      </div>
    </div>
  </div>
</div>
